.container {
  max-width: 140rem;
  padding: 4.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 3.2rem;
}


@media (max-width:400px)  { 

  nav {
    overflow: auto;
    white-space: nowrap;
  }
  ul{
    margin-top: 10px;
    gap: 1.5rem;
  }
  .container{display: block;
   padding: 0%; 
  }

}